  <div class="parent clearfix">
    <div class="bg-illustration">
      <img src="https://i.ibb.co/Pcg0Pk1/logo.png" alt="logo">

      <div class="burger-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>

    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <%= render "devise/shared/error_messages", resource: resource %>
    <div class="login">
      <div class="container">
        <h1>ユーザ登録</h1>
        <div class="login-form">
             <div class="label">
               <%= f.label :email %><br />
            </div>
            <div class="input">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
             <div class="label">
                <%= f.label :password %><br />
                 <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
            </div>
            <div class="input">
                 <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
             <div class="label">
                <%= f.label :password_confirmation %><br />
            </div>
            <div class="input">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
            <br>

            <div class="actions">
                <%= f.submit "Sign up" %>
              </div>

        </div>
                <%= render "devise/shared/links" %>
      </div>
      </div>
      <% end %>
  </div>
