<p id="notice"><%= notice %></p>

<h1>Books</h1>

    <div class = "class-search">
        <p>Search book: </p>
        <%= form_tag(books_path, method: :get) do %>
        <%= text_field_tag :term , params[:term]%>
        <%= submit_tag 'Search' %>
        
        <% end %>
    </div>
    
    <div class = "class-filter">
        <p>Search genres: </p>
        <%= form_tag(books_path, method: :get) do %>
        <%= text_field_tag :filter %>
        <%= submit_tag 'Filter' %>
        <% end %>
    </div>



  


<div id="product_list">
<th><%= link_to "Sort by alphabet", :sort => "title"%> </th></br>
<th><%= link_to "Sort by num of chapters", :sort => "number_of_chapters"%> </th>
<table>
    <% if @books != nil %>
    <% @books.each do |book| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  
            <td>
                <% if book.cover.attached? %>
                    <%= link_to image_tag(book.cover, :class => 'list_image'), book%>
                <% end %>
            </td>
  
            <td class="list_description">
                <dl>
                    <dt><%= link_to book.title, book %></dt>
                    <dd>Genres: <%= book.category.category if book.category != nil%></dd>
                    
                    <dd><%= truncate(strip_tags(book.description),
                            :length => 80) %></dd>
                    <dn><%= book.number_of_chapters %> chapters</dn>
                </dl>
            </td>
  
            <td class="list_actions">
                <%= link_to 'Show', book %><br/>
                <%= link_to 'Edit', edit_book_path(book) %><br/>
                <%= link_to 'Destroy', book,
                    data: { confirm: 'Are you sure?' },
                    :method => :delete %>
            </td>
        </tr>

    <% end %>
    <% end %>
    </table>
</div>
<br>

<%= link_to 'New Book', new_book_path %>
<br>
<div class="button">
    <%= link_to 'Return home', '/', :method => :get %>
</div> 

<%= link_to 'Add Category', "/categories", method: :GET %>