<p id="notice"><%= notice %></p>

<h1>Books</h1>

<div id="product_list">
<!-- <table>

  <tbody>
    <% @books.each do |book| %>
      <tr>
            <td>
              <%= link_to image_tag(book.cover), book %>
              </td>
            </tr>
      <tr>
        <td><%= link_to book.title, book %></td>
        <td>Number of chapters:<%= book.number_of_chapters %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
      
    <% end %>
  </tbody>
</table> -->

<table>
    <% @books.each do |product| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  
            <td>
                <%= image_tag(product.cover, :class => 'list_image') %>
            </td>
  
            <td class="list_description">
                <dl>
                    <dt><%= product.title %></dt>
                    <dd><%= truncate(strip_tags(product.description),
                            :length => 80) %></dd>
                </dl>
            </td>
  
            <td class="list_actions">
                <%= link_to 'Show', product %><br/>
                <%= link_to 'Edit', edit_book_path(product) %><br/>
                <%= link_to 'Destroy', product, 
                    data: { confirm: 'Are you sure?' },
                    :method => :delete %>
            </td>
        </tr>
    <% end %>
    </table>
</div>
<br>

<%= link_to 'New Book', new_book_path %>