<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Number of chapters:</strong>
  <%= @book.number_of_chapters %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <% if @book.cover.attached? %>
    <%= image_tag @book.cover %>
  <% end %>
</p>

<h2>Chapter Form</h2>
<%= form_with(model: @chapter, local: true) do |form| %>
  <div class= "field">
    <%= form.label :title, "Title:"%><br>
    <%= form.text_area :title %>
    <%= form.hidden_field :book_id, :value => @book.id %>
  </div>
  <div class= "field">
    <%= form.label :order, "Chapter #:"%><br>
    <%= form.text_area :order%>
  </div>
  <div class= "field">
    <%= form.label :content, "Content:"%><br>
    <%= form.text_area :content%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h1>Chapter List</h1>
<ul>
  <% @book.chapter.each do |chapter|%>
   <li><%= link_to chapter.title, chapter%>
     (<i><%= chapter.user.email if chapter.user%></i>)</li>
   <% end %>
</ul>

  <div class="col">
    <div class="card bg-light mb-3" style="max-width: 40rem;">
      <h1>Review</h1>
      <div class="card-body">
        <ul>
          <% @book.book_review.each do |book_review|%>
          　<div class="card border-light mb-3" style="max-width: 20rem;">
              <div class="card-header">user:<%= book_review.user.email %></div>
              <div class="card-body">
                <p class="card-text">comment:<%= book_review.review %></p>
                <span ><%= link_to 'Destroy', book_review, method: :delete, data: { confirm: 'Are you sure?' } %></span>
              </div>
            </div>
          <% end %>
        </ul>
      <%= form_with(model: @book_review, local: true) do |form| %>
        <div class= "field">
          <%= form.text_area :review, :class => "form-control" %>
          <%= form.hidden_field :book_id, :value => @book.id %>
        </div>
        <div class="actions">
          <%= form.submit %>
        </div>
       <% end %>
       </div>
    </div>
  </div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>