
  <div class="parent clearfix">
    <div class="bg-illustration">
      <img src="https://i.ibb.co/Pcg0Pk1/logo.png" alt="logo">

      <div class="burger-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>

    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login">
      <div class="container">
        <h1 style="color :#7B89F1">ログイン</h1>
        <div class="login-form">
             <div class="label">
                <%= f.label :email %><br />
            </div>
            <div class="input">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
             <div class="label">
                <%= f.label :password %><br />
            </div>
            <div class="input">
                <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

           
           <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

            <div class="actions">
                <%= f.submit "Log in" %>
            </div>

        </div>
                <%= render "devise/shared/links" %>
      </div>
      </div>
      <% end %>
  </div>
